---
Language: Cpp
#BasedOnStyle#
AccessModifierOffset: -2

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign # Rev
AlignTrailingComments: false

AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

#AlwaysBreakAfterDefinitionReturnType: None # deprecated
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

#AttributeMacros#
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: After
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  ##AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

##BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
#BreakBeforeConceptDeclarations: true # Not yet available
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true

ColumnLimit: 0
#CommentPragmas#
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DeriveLineEnding: true
DerivePointerAlignment: false
DisableFormat: false
#ExperimentalAutoDetectBinPacking# experimental
FixNamespaceComments: false
#ForEachMacros#
IncludeBlocks: Preserve
#IncludeCategories#
#IncludeIsMainRegex#
#IncludeIsMainSourceRegex#
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
#IndentRequires: false # Not yet available
IndentWidth: 2
IndentWrappedFunctionNames: false
InsertTrailingCommas: None
##JavaImportGroups
##JavaScriptQuotes: Single
##JavaScriptWrapImports: false
KeepEmptyLinesAtTheStartOfBlocks: true
#MacroBlockBegin#
#MacroBlockEnd#
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
#NamespaceMacros#

##ObjCBinPackProtocolList
##ObjCBlockIndentWidth
##ObjCBreakBeforeNestedBlockParam
##ObjCSpaceAfterProperty
##ObjCSpaceBeforeProtocolList

PenaltyBreakAssignment: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakComment: 0
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 0
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 0
#PenaltyIndentedWhitespace: 0 # Not yet available
PenaltyReturnTypeOnItsOwnLine: 0

PointerAlignment: Left
#RawStringFormats#
ReflowComments: false
SortIncludes: false
##SortJavaStaticImport
SortUsingDeclarations: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: true
#SpaceAroundPointerQualifiers: Default # Not yet available
SpaceBeforeAssignmentOperators: true
#SpaceBeforeCaseColon: false # Not yet available
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: true
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Auto
#StatementAttributeLikeMacros#
#StatementMacros#
TabWidth: 2
#TypenameMacros#
UseCRLF: false
UseTab: ForContinuationAndIndentation
#WhitespaceSensitiveMacros#
#DanglingParenthesis: true # Control when be available
---
Language: JavaScript
JavaScriptQuotes: Single
JavaScriptWrapImports: false
